a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: orange;
}
.cabecera {
  height: 50px;
  background-color: rgb(104, 104, 104);
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navegador > .col:nth-child(2) {
  text-align: right;
  font-size: 20px;
  color: white;
  line-height: 20px;
}
.navegador > .col:nth-child(2):hover {
  color: rgb(255, 123, 0);
}
.navegador-links > * {
  margin-right: 15px;
}
.cabecera-formacion {
  padding: 20px;
  background-color: aqua;
  text-align: center;
}
